@import url(../../css-global/vars.css);

.browse-sheets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0 25px;
}

.bt-name {
  margin-bottom: 0.5em;
}

.bt-description-wrapper {
  height: 100%;
}

.bt-description {
  font-size: 0.9em;
  margin: auto;
}
