@import url(../../css-global/vars.css);

.labels {
  display: grid;
  grid-template-areas:
    'create-label-button labels-view'
    'labels-list labels-view';
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  row-gap: 10px;
  margin: 0 20px;
}

.create-label-button {
  grid-area: create-label-button;
  width: fit-content;
  display: block;
  margin: auto;
  font-size: 1em;
}

.labels-list,
.labels-view {
  height: fit-content;
}

.labels-list {
  grid-area: labels-list;
}

.labels-list-tile {
  border-bottom: 1px dotted var(--one);
  padding: 5px;
}

.labels-list-tile-active {
  font-weight: bold;
}

.labels-list-tile:hover {
  cursor: pointer;
  background-color: var(--two);
}

.labels-view {
  grid-area: labels-view;
  padding: 20px 30px;
}

.label-details-header {
  display: grid;
  grid-template-columns: auto 50px 50px;
  grid-template-areas:
    'ldh-title ldh-button1 ldh-button2'
    'ldh-datatype . .';
}

.ldh-title {
  grid-area: ldh-title;
}

.ldh-edit-toggle {
  font-size: 1.4em;
  grid-area: ldh-button2;
}

.ldh-datatype {
  margin: 0.5em 0;
  grid-area: ldh-datatype;
  font-style: italic;
  font-size: 1.1em;
}
