.labels {
  display: grid;
  grid-template-areas:
    'title title'
    'list panel';
}

.labels-title {
  grid-area: title;
  text-align: center;
}

.labels-list {
  grid-area: list;
}

.labels-panel {
  grid-area: panel;
}
