@import url(../../css-global/vars.css);

.sheets {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  margin: 0 20px;
}

.sheets-list-tile {
  border-bottom: 1px solid var(--one);
  padding: 5px;
  font-size: 1.2em;
}

.sheets-list-tile:hover {
  cursor: pointer;
  background-color: var(--two);
}
