@import url(../../css-global/vars.css);

.landing-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;
  column-gap: 20px;
}

.session-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.session-forms > form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-page-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.about-tatterpig-name {
  font-weight: bold;
}

.about-tatterpig {
  font-size: 1.2em;
}

.about-tatterpig::first-letter {
  font-size: 2.6rem;
  float: left;
  margin-top: -0.4rem;
  font-weight: normal;
}

.tatterpig-whatdo {
  list-style: disc;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-tatterpig > p,
.tatterpig-whatdo > li {
  margin-bottom: 20px;
}
