@import url(vars.css);

.block {
  background-color: var(--three);
  padding: 10px;
  border-radius: 3%;
}

.error {
  color: red;
  font-size: 0.9em;
}

.center {
  text-align: center;
}

button.icon {
  background-color: inherit;
  color: var(--one);
  border: 0;
}

button.icon:hover {
  background-color: var(--one);
  color: var(--two);
  border: 0;
}

button.icon:disabled,
button.icon:disabled:hover {
  background-color: inherit;
  color: var(--gray);
}

button.icon:disabled:hover {
  cursor: not-allowed;
}

button.grayed-out {
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--txt);
}

button.grayed-out:hover {
  background-color: var(--light);
}

.big-link {
  border: 5px solid var(--three);
}

.big-link:hover {
  cursor: pointer;
  border: 5px solid var(--one);
}
