@import url(vars.css);

.block {
  background-color: var(--three);
  padding: 10px;
  border-radius: 3%;
}

.error {
  color: red;
}

.center {
  text-align: center;
}

button.icon {
  background-color: inherit;
  color: var(--one);
  border: 0;
}

button.icon:hover {
  background-color: var(--one);
  color: var(--two);
  border: 0;
}
