@import url(../../css-global/colors.css);

#navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#navigation > div {
  display: flex;
  background-color: var(--three);
  column-gap: 1px;
}

#navigation > div > a {
  color: var(--two);
  background-color: var(--one);
  padding: 5px 10px 10px;
  font-size: 1.2em;
}

#navigation > div > a:hover {
  text-decoration: none;
  background-color: inherit;
  color: var(--txt);
}

#navigation > div > a.active {
  color: var(--txt);
  background-color: var(--two);
}

#navigation > div > a.active:hover {
  background-color: inherit;
}

.logout-button {
  margin: 3px;
  font-size: 1em;
}
